.cont {
  padding: 10px;
  margin: 10px 0;
}

.topBarCont {
  display: flex;
  align-items: center;
}

.dragBtn {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 10px;
  font-size: 20px;
}

.ctrlsCont {
  margin-left: auto;
  display: flex;
}

.descToggleBtn {
  display: flex;
  align-items: center;
  height: 28px;
}

.descCont {
  display: flex;
}
